/**************
*****ASIDE*****
***************/
.aside {
	margin-top: 65px;
	

	
	/***************
	LIST OF PAGES UL
	****************/

    .aside__list {
    	border: 1px solid #58595B;
		border-top: 3px solid #541434;
		padding: 1em 0 1em 1.25em;
		position: relative;
		text-align: left;

		-webkit-box-shadow: 3px 3px 3px #ccc;
		   -moz-box-shadow: 3px 3px 3px #ccc;
			 -o-box-shadow: 3px 3px 3px #ccc;
			-ms-box-shadow: 3px 3px 3px #ccc;
			    box-shadow: 3px 3px 3px #ccc;

		.ie8 & {
			border: 2px solid #58595B;
		}

		&:before {
			content: '';
			display: block;
			height: 52px;
			left: 50%;
			margin-left: -23px;
			position: absolute;
			top: -26px;
			width: 47px;
			z-index: 1;
		
			@include sprite(0 -129px); /*<--STIBBARDS LOGO SPRITE*/
		}
    }

    /*********
    PAGES LIST
	**********/

    .aside__list--link {
		list-style: none;
		padding: 0.25em;
		margin: none;

		a {
			color: #58595B;
			display: block;
			font-size: 13px;
			font-family: Arial;
			position: relative;
			text-decoration: none;
		}

		&:hover,
		&:focus a {
			color: #541434;
			text-decoration: underline;
		}

		.active {
			color: #541434;
			text-decoration: underline;

			&:before {
				content: '';
				display: block;
				height: 27px;
				left: -30px;
				position: absolute;
				top: -8px;
				width: 26px;
			
				@include sprite(-322px -333px); /*<--ACTIVE PAGE SELECTOR*/

				
			}
		}

		h2 {
			color: #231F20;
			font-family: $brand-font;
			font-size: 17px;
			text-transform: uppercase;
			margin-bottom: 0em;
		}
	}
}