/*********************************
TEXT AT THE TOP OF THE HOME PAGE
*********************************/

.top-text {
	padding-top: 7em;  /*<--too move text / content away from the header*/
	position: relative;
	text-align: center;	

	.top-text__top{
		color: #58595B;
		font-size: 18px;
		font-family: $brand-font-italic;
	}

	.top-text__bottom {
		color: #58595B;
		font-size:16px;
		font-family: Arial;
	}

	&:before {
		content: '';
		display: block;
		height: 52px;
		left: 50%;
		margin-left: -24px;
		position: absolute;
		
		top: 56px;
		width: 47px;
	
		@include sprite(0 -129px);
	}
}
/**********************
TEXT AT THE TOP OF SERVICES PAGE
***********************/

.top-text__service {
	margin-top: 7em;
	position: relative;
	text-align: center;
	padding: 0em 2em;	

	.top-text__top-service {
		color: #58595B;
		font-size: 18px;
		font-family: $brand-font-italic;
		margin: 0em;
	}

	&:before {
		bottom: 140%;
		content: '';
		display: block;
		height: 52px;
		position: absolute;
		right: 48%;
		width: 47px;
	
		@include sprite(-270px -320px);
	}
}

/******************
ALL BOXED CONTENT
********************/
.services-content__lower,
.services-content,
.home-content {
	background: #fff;
	border: 0.5px solid #58595B;
	border-top: 0;
	height: 410px;
	margin: 0.25em 0;

	-webkit-box-shadow: 0 1px 3px #000;
	   -moz-box-shadow: 0 1px 3px #000;
		 -o-box-shadow: 0 1px 3px #000;
		-ms-box-shadow: 0 1px 3px #000;
		    box-shadow: 0 1px 3px #000;

	h2 {
		color: #231F20;
		font-family: $brand-font;
		font-size: 20px;		
		margin-top: 0.25em;		
		text-transform: uppercase;
	}

	p {
		color: #4D4D4D;
		font-family: $brand-font;
		font-size: 14px;
		margin-bottom: 1em;
		margin-top: -1em;
		padding: 0 3em;
		
	}

	a {
		background: #CCBD78;
		color: #fff;
		display: inline-block;
		font-size: 14px;
		font-family: $brand-font-italic;
		margin-bottom: 1em;
		margin-top: 1em;
		padding: 0.25em 2em;
		text-decoration: none;

		&:hover,
		&:focus {
			background: #bead54;
		}
	}

/**************************
ALL BOXED IMAGES HAVE A BOTTOM BORDER
***************************/

	img {
		border-bottom: 3px solid #541434;
		width: 100%;
	}
}

/*************************
BOXED CONTENT AND IMAGES ARE LINKS
**************************/

.content-link  {
	display: block;
	margin: 9px 3px;
	text-decoration: none;
}

/***********************
CONTENT ON SERVICES PAGE
************************/

.services-content {

	h2 {
		padding-top: 0.5em;
	}

	p {
		padding: 1em 7em;
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
	}
}

.services-content,
.services-content__lower {
	height: 303px;

	h2 {
		margin-top: 0.5em;
	}
}

.content-boxes {
	list-style: none;
	padding: 0em 0 3em;
	
}

/*************************
SMALLER CONTENT BOXES ON THE SERVICES PAGE
***************************/

.lower-content {
	height: 303px;
	margin-bottom: 5.3em;

	p {
		padding-bottom: 0.5em;
	}
}

.contact-us {
	p {
		padding-bottom: 2.75em;

		.ie8 & {
			padding-bottom: 0;
		}
	}
}


