/*********************************
TEXT AT THE TOP OF THE HOME PAGE
*********************************/

.top-text {
	padding-top: 7em;  /*<--too move text / content away from the header*/
	position: relative;
	text-align: center;	

	.top-text__top{
		color: #58595B;
		font-size: 18px;
		font-family: $brand-font-italic;
	}

	.top-text__bottom {
		color: #58595B;
		font-size:16px;
		font-family: Arial;
	}

	&:before {
		content: '';
		display: block;
		height: 52px;
		left: 50%;
		margin-left: -24px;
		position: absolute;
		top: 56px;
		width: 47px;
	
		@include sprite(0 -129px);
	}
}
/**********************
TEXT AT THE TOP OF SERVICES PAGE
***********************/

.top-text__service {
	margin-top: 8em;
	position: relative;
	text-align: center;
	padding: 0em 2em;	

	.top-text__top-service {
		color: #58595B;
		font-size: 18px;
		font-family: $brand-font-italic;
		margin: 0em;
	}

	&:before {
		bottom: 120px;
		content: '';
		display: block;
		left: 50%;
		margin-left: -24px;
		height: 52px;
		position: absolute;
		width: 47px;
	
		@include sprite(-270px -320px);
	}
}

/******************
ALL BOXED CONTENT
********************/
.services-content__lower,
.services-content,
.home-content {
	background: #fff;
	border: 1px solid #58595B;
	border-top: 0;
	height: 410px;
	margin: 0.25em 0;

	-webkit-box-shadow: 3px 3px 3px #ccc;
	   -moz-box-shadow: 3px 3px 3px #ccc;
		 -o-box-shadow: 3px 3px 3px #ccc;
		-ms-box-shadow: 3px 3px 3px #ccc;
		    box-shadow: 3px 3px 3px #ccc;

	h2 {
		color: #231F20;
		font-family: $brand-font;
		font-size: 20px;
		margin-bottom: 0;	
		margin-top: 0.25em;	
		text-transform: uppercase;
	}

	p {
		color: #4D4D4D;
		font-family: $brand-font;
		font-size: 14px;
		margin-bottom: 1em;
		margin-top: 0;
		padding: 0 3em;
		
	}

	a {
		background: #CCBD78;
		color: #fff;
		display: inline-block;
		font-size: 14px;
		font-family: $brand-font-italic;
		margin-bottom: 1em;
		margin-top: 1em;
		padding: 0.25em 2em;
		text-decoration: none;

		&:hover,
		&:focus {
			background: #bead54;
		}
	}

	/**************************
	ALL BOXED IMAGES HAVE A BOTTOM BORDER
	***************************/

	img {
		border: none;
		border-bottom: 3px solid #541434;
		width: 100%;
	}
}

/*************************
BOXED CONTENT AND IMAGES ARE LINKS
**************************/

.content-link  {
	display: block;
	margin: 9px 3px;
	text-decoration: none;
}

/***********************
CONTENT ON SERVICES PAGE
************************/

.services-content {

	h2 {
		padding-top: 0.5em;
	}

	p {
		padding: 1em 7em;
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
	}
}

.services-content,
.services-content__lower {
	height: 303px;

	h2 {
		margin-top: 0.5em;
	}
}

.content-boxes {
	list-style: none;
	padding: 0em 0 3em;
	
}

/*************************
SMALLER CONTENT BOXES ON THE SERVICES PAGE
***************************/

.lower-content {
	height: 303px;
	margin-bottom: 5.3em;

	p {
		padding-bottom: 0.5em;
	}
}

.contact-us {
	p {
		padding-bottom: 2.75em;

		.ie8 & {
			padding-bottom: 0;
		}
	}
}

.tel-num {
	a {
		color: #4D4D4D;
		text-decoration: none;
	}
}

/*******************
SUBPAGE CONTENT
********************/

.sub-content {
	margin-top: 4em;

	h1  {
		color: #541434;
		font-size: 29px;
		font-family: 'Times';
		text-transform: uppercase;
	}

	.sub-content__top {
		color: #58595B;
		font-size: 20px;
		font-family: $brand-font-italic;
	}

	h3 {
		color: #541434;
		font-size: 18px;
		font-family: 'Times';
		font-style: italic;
	}

	p {
		color: #58595B;
		font-size: 14px;
		font-family: 'Arial';

	}

	/* too remove unwanted styling to the include */
	.cta-text {   
		text-align: center;
		padding-left: 2em;
	}

	.top-text__service-cta p {  /*<--too remove unwanted styling to the include*/
		text-align: center;
		padding-left: 0;
	}

	.top-text__service-cta {   /*<--too remove unwanted styling to the include*/
		padding: 0;
	}

	p,
	h3,
	h1,
	.sub-content__top {
		padding-left: 16px;
		text-align: left;
	}

	
	.cor-image {
		margin: 2em 0;

		-webkit-box-shadow: 3px 3px 3px #ccc;
		   -moz-box-shadow: 3px 3px 3px #ccc;
			 -o-box-shadow: 3px 3px 3px #ccc;
			-ms-box-shadow: 3px 3px 3px #ccc;
			    box-shadow: 3px 3px 3px #ccc;
	}
}

/***************************
HORSE DRAWN FUNERAL CONTENT
****************************/

.horse-opitions {
	padding-left: 1em;
	margin-top: 40px;
}

.sub-boxes {
	background: #fff;
	height: 146px;
		-webkit-box-shadow: 3px 3px 3px #ccc;
		   -moz-box-shadow: 3px 3px 3px #ccc;
			 -o-box-shadow: 3px 3px 3px #ccc;
			-ms-box-shadow: 3px 3px 3px #ccc;
			    box-shadow: 3px 3px 3px #ccc;

	img {
		float: left;
		padding-right: 1em;
		overflow: hidden;
	}

	h2 {
		color: #541434;
		font-family: 'Times';
		font-size: 18px;
		padding-top: 0.5em;
		margin-bottom: 0;
		text-align: left !important;
	}

	.horse-prices {
		color: #58595B;
		font-family: 'Times';
		font-size: 16px;
		font-style: italic;
		margin: 0;
	}

	.hearse-info {
		color: #58595B;
		font-family: 'Arial';
		font-size: 15px;
		padding-right: 1em;
		margin-top: 10px;

	}
}