/**********************************************
CTA  - INCLUDE AS IT IS USED IN MULITPLE PAGES
***********************************************/

.top-text__service-cta {
	font-family: 'crimson-italic';
	margin-top: 7em;
	position: relative;
	text-align: center;
	padding: 0em 2em;
	width: 100%;	

	.top-text__top-service-cta {
		color: #58595B;
		font-size: 1.125em; // 18px
		font-family: 'crimson-italic';
		margin-top: 4em;
	}

	&:before {
		top: -75px;
		content: '';
		display: block;
		height: 52px;
		left: 50%;
		position: absolute;
		margin-left: -24px;
		width: 47px;
	
		@include sprite(0 -129px); /*<--STIBBARDS LOGO*/
	}

	&:after {
		bottom: -64%;
		content: '';
		display: block;
		height: 9px;
		left: 50%;
		position: absolute;
		margin-left: -139.5px;
		width: 279px;
	
		@include sprite(-325px -321px); /*<--PAGE BREAK*/
	}
}

/*******************
CONTACT BUTTON
*******************/

.cta-btn {
	color: #fff;
	background: #CCBD78;
	font-family: 'crimson-italic';
	margin: auto;
	padding: 0.5em 3em;
	position: relative;
	text-decoration: none;

}

.cta-boxes{
	padding-top: 70px;
}