.footer {
	background: url("../images/footer-bg.png") 0 0 repeat;
	position: relative;

	@include retina {
		background: url("../images/retina/footer-bg_2x.png") 0 0 repeat;
		background-size: 26px 8px;
	}


	.footer-list__title {
		color: #541434;
		font-size: 14px;
		font-family: times;
		padding: 0.25em 0;
		text-align: left;
	}

	ul {
		padding: 0 1em 0 1em;
	}

	.footer-list__untitled {
		padding-top: 1.6em !important;
	}

	li {	
		font-size: 12px;
		font-family: 'crimson-regular';
		list-style: none;
		text-align: left;
	}

	a {
		color: #6F6E6B;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

}

.footer-images {
	margin: auto;
	max-width: $container-width;
	padding-bottom: 5em;
	padding-top: 6em;
	position: relative;
	text-align: center;

	&:before {
		content: '';
		display: block;
		height: 60px;
		left: 50%;
		margin-left: -132px;
		position: absolute;
		top: 0;
		width: 263px;

		@include sprite(-60px -140px);
	}

	.footer-image__nafd {
		display: inline-block;
		height: 105px;
		margin: 0 1em;
		width: 125px;
		@include img-replace;

		@include sprite (0 -206px);
	}

	.footer-image__nsaf {
		display: inline-block;
		height: 105px;
		margin: 0 1em;
		width: 125px;
		@include img-replace;

		@include sprite (-139px -206px);
	}

	.footer-image__namm {
		display:inline-block;
		height: 105px;
		margin: 0 1em;
		width: 125px;
		@include img-replace;

		@include sprite (-282px -206px);
	}

	.footer-image__ndc {
		display: inline-block;
		height: 105px;
		margin: 0 1em;
		width: 125px;
		@include img-replace;

		@include sprite (-414px -206px);
	}
}

.storm-logo-img {
		display: block;
		float: right;
		height: 17px;
		margin: 2.5em 1.5em;
		vertical-align: middle;
		width: 255px;		
		@include img-replace;

		@include sprite (-0px -323px);

		&:hover,
		&:focus {
			@include sprite (-0px -349px);
		}
	}


	