.homepage-header {
	background: url("../images/header-bg2.png") center 0 no-repeat;
	height: 444px;
	line-height: 444px;
	margin: auto;
	position: relative;
	
	 &:before {
		background: url("../images/header-ribbons.png") center 0 no-repeat;
		bottom: 0;
		content: '';
		display: block;
		height: 129px;
		left: 0;
		margin-bottom: -2.4em;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

.header-text {
	display: inline-block;
	width: 100%;

	p {
		color: #541434;
		display: block;
		font-size: 54px;
		font-family: 'crimson-regular';
		line-height: normal;
		text-align: center;
	}

	.header-title {
		background: url(../images/bg-transparent.png) 0 0 repeat;
		color: #541334;
		padding: 10px 20px 5px;
		line-height: 1;
		margin: 0;
		margin: auto;
		text-transform: uppercase;		
		width: 700px;


	&:first-child {
		margin-top: 2.5em;
		margin-bottom: 4px;
		}
	}

	.header-title_services {

		background: url(../images/bg-transparent.png) 0 0 repeat;
		color: #541334;
		font-size: 60px;
		height: 78px;
		padding: 15px 20px 5px;
		line-height: 1;
		margin: 0;
		margin: auto;
		text-transform: uppercase;		
		width: 376px;


	&:first-child {
		margin-top: 1em;
		margin-bottom: 4px;
		}
	}
}

.header {
	background: url("../images/services-header.png") center 0 no-repeat;
	height: 257px;
	line-height: 257px;
	width: 100%;
	margin: auto;
	position: relative;

	&:before {
		background: url("../images/services-ribbons.png") 56% 0 no-repeat;
		bottom: 0;
		content: '';
		display: block;
		height: 129px;
		left: 0;
		margin-bottom: -2.4em;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}