/************************************************************
HEADER IS THE SAME THROUGH OUT BUT IMAGES JUST NEEDS CHANGING
*************************************************************/

.homepage-header {
	background: url("../images/header-bg2.png") center 0 no-repeat;
	height: 480px;
	margin: auto;
	line-height: 511px;
	position: relative;
	text-align: center;
	
	 &:before {
		background: url("../images/home-ribbons.png") center 0 no-repeat;
		bottom: 0;
		content: '';
		display: block;
		height: 129px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

/********************************
HEADERS - GENERIC
********************************/
.header {
	height: 257px;
	line-height: 200px;
	width: 100%;
	position: relative;
	text-align: center;

	&:before {
		background: url("../images/services-ribbons.png") 56% 0 no-repeat;
		bottom: -24px;
		content: '';
		display: block;
		height: 129px;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

/********************************
TEXT IN THE CENTRE OF THE HEADER
********************************/
.header-text {
	display: inline-block;
	line-height: normal;
	text-align: center;
	width: 700px;
	margin: auto;
	//vertical-align: middle;
	//width: 100%;

	p {
		color: #541434;
		display: block;
		font-size: 54px;
		font-family: 'crimson-regular';
		line-height: normal;
		text-align: center;
		vertical-align: middle;
	}
	.header-title__home,
	.header-title {
		background: url(../images/bg-transparent.png) 0 0 repeat;
		color: #541334;
		display: block;
		font-size: 60px;
		padding: 10px 20px 5px;
		line-height: 1;
		margin: 0;
		margin: auto;
		text-transform: uppercase;
		vertical-align: middle;	
	
	}

	


	/*************************************
		TITLE OF THE SUBPAGE PARENT PAGE
	**************************************/

	.header__subpage-title {
		background: url(../images/bg-transparent.png) 0 0 repeat;
		display: block;
		font-size: 1em;
		line-height: 1.6;
		margin: auto;
		text-transform: uppercase;
		width: 137px;
	}

	/******************
	SERVICES HEADER
	*******************/
	.header-title_services {		
		width: 376px;
	}

	/******************
	HORSE DRAWN HEADER
	*******************/
	.header-title__horse {		
		width: 757px;
	}
}

/**************************************
IMAGE CHANGES FOR THE SUBPAGES HEADERS
***************************************/


.services-header {
	background: url("../images/services-header.jpg") center 0 no-repeat;
}

.cor-header {
	background: url("../images/cor-header.jpg") center 0 no-repeat;
	line-height: 225px;

	.header-title {
		margin-top: 3px;
		width: 520px;
	}
}

.horse-header {
	background: url("../images/horse-header.jpg") center 0 no-repeat;
	line-height: 225px;

	.header-title {
		margin-top: 3px;
		width: 755px;
	}
}

.plans-header {
	background: url("../images/funeral-plans.jpg") center 0 no-repeat;
	line-height: 225px;

	.header-title {
		margin-top: 3px;
		width: 509px;
	}
}

/**************************
CHAPEL OF REST HEADER
***************************/
/*
.header-title__cor {

		background: url(../images/bg-transparent.png) 0 0 repeat;
		color: #541334;
		font-size: 60px;
		height: 78px;
		padding: 15px 20px 5px;
		line-height: 1;
		margin: 0;
		margin: auto;
		text-transform: uppercase;		
		width: 520px;


		&:first-child {
			margin-top: 1em;
			margin-bottom: 4px;
		}
	}
	*/