/*********************
	NAVIGATION
***********************/

.nav {
	background: url("../images/nav-background.png");
}

.nav__logo {
	a {
		display: block;
		height: 121px;
		width: 383px;
		margin: auto;
		margin-bottom: 1.5em;
		@include img-replace;

		@include sprite (0 0);

	}
}

/************************
	NAVIGATION LINKS
*************************/

.nav-links {
	margin: 0;
	padding-left: 1em;

	li {
		display: inline-block;
		font-family: 'crimson-regular';
		font-size: 14px;
		list-style: none;
		margin-bottom: 1em;
		margin-right: -0.25em;
		position: relative;
		text-transform: uppercase;

		&:before {
			color: #541434;
			content: '•';
			font-size: 11px;
			padding: 0 0.75em 0 0.75em;
			vertical-align: center;
		}

		&:first-child {
			&:before {
				content: '';
			}
		}
	}

/*******************
	CTA BUTTON
********************/

	a {
		color: $nav-font-color;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}