@font-face {
    font-family: 'crimson-regular';
    src: url('../fonts/crimsontext-roman-webfont.eot');
    src: url('../fonts/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-roman-webfont.woff') format('woff'),
         url('../fonts/crimsontext-roman-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-roman-webfont.svg#bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson-italic';
    src: url('../fonts/crimsontext-italic-webfont.eot');
    src: url('../fonts/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-italic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-italic-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-italic-webfont.svg#bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}